#dontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}